language: julia

os:
  - linux
  - osx
  - windows

julia:
  - 1.2
  - 1.3

notifications:
  email: false
 
branches:
  only:
    - master
    - dev
before_install:
  - julia -e 'using Pkg; Pkg.add(PackageSpec(url = "https://github.com/giordano/GZip.jl", rev = "libz-name"))'
jobs:
  include:
    - stage: "Documentation"
      julia: 1.2
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
    - stage: "code coverage"  
      julia: 1.2
      os: linux
      script: 
        - julia -e 'using Pkg;
                    cd(Pkg.dir("Omniscape"));
                    Pkg.add("Coverage");
                    using Coverage;
                    Codecov.submit(Codecov.process_folder())'
